{#
/**
  * @file
  * Default theme implementation to present a list of active products.
  * Available variables:
  * - items: An array of active product entities.
  * - attributes: HTML attributes for the container element.
  *
  * @see template_preprocess_active_products_list()
 */
 #}
<section {{ attributes }}>
  {% if items %}
    {% for item in items %}
      <article>
        <small>{{ item.category }}</small>
        <h3>{{ item.title }}</h3>
        {% if item.price %}
          <strong>${{ item.price|number_format(0, '.', '.') }}</strong>
        {% endif %}

        {{ item.description|raw }}
      </article>
    {% endfor %}
  {% endif %}
</section>
